@charset "utf-8";

/* Eric Meyer’s “Reset CSS” 2.0
----------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}
body p {
  line-height: 1.6;
}
p,ul li a {
  color: #333333;
  text-decoration: none;
}

/* header
------------------------------------------- */
#header {
  background: #ccc;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
}
.header__leadWrap {
  background: #0285c1;
  color: #fff;
  font-size: 11px;
}
.headerNavWrap,
.headerNav  {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.headerNavWrap {
  padding: 20px 0 15px;
}
.header__logo {
  width: 171px;
  line-height: 50px;
}
.headerNav {
  max-width: none;
  font-size: 13px;
  font-weight: bold;
}
.headerNav li {
  margin-left: 30px;
}
.headerNav li:first-child {
  margin-left: 0;
}
.headerNav li a {
  display: block;
  line-height: 48px;
}
#js-menuBk {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}
#js-closeBtnWrap {
  display: none;
}
#js-openBtn {
  display: none;
}
.menuClose {
  display: inline-block;
  padding: 20px;
}
.menuClose img {
  width: 17px;
}

@media screen and (max-width: 1100px) {
  .header__leadWrap {
    padding: 0 10px;
  }
  .headerNavWrap {
    padding: 20px 10px 15px;
  }
  .headerNav li {
    margin-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  #header {
    position: relative;
  }
  .headerNavWrap {
    display: block;
    position: relative;
    padding: 6px 17px;
  }
  .headerNav {
    display: block;
  }
  .header__logo img {
    width: 124px;
  }
  #js-closeBtnWrap {
    display: block;
    background: #fff;
  }
  #js-openBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 18px;
    margin: auto;
    padding: 20px 17px;
  }
  #js-openBtn img {
    width: 22px;
  }
  #js-spNav {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 78%;
    background: #f1f1f1;
    transform: translateX(100%);
    transition: all .3s;
  }
  #js-spNav.isOpen {
    transform: translateX(0);
  }
  .headerNav li {
    margin-left: 0;
    background: #f7f7f7;
    border-bottom: 1px solid #dbdbdb;
  }
  .headerNav li:first-child {
    border-top: 1px solid #dbdbdb;
  }
  .headerNav li a {
    position: relative;
    padding: 0 15px;
    font-weight: normal;
    line-height: 50px;
  }
  .headerNav li a::after {
    position: absolute;
    top: 0;
    right: 17px;
    bottom: 0;
    width: 7px;
    height: 7px;
    margin: auto;
    border-right: 1px solid #0c89c3;
    border-bottom: 1px solid #0c89c3;
    transform: rotate(-45deg);
    content: "";
  }
}
